@import "variables"
@import "grid"

$dev: true 
body 
  background: #333
  color: white
  min-height: 100vh
  display: flex 
  flex-direction: column 
  justify-content: center
  background-image: url('/assets/blue-team-lg.png'), linear-gradient(to right bottom, #111, #444)
  background-size: cover
  background-position: top left
  background-attachment: fixed

*
  margin: 0
  padding: 0
  box-sizing: border-box

.container 
  max-width: 1280px
  height: auto
  margin: 0 auto
  @include grid()
  position: relative
  @media(max-width: 1280px)
    max-width: 1140px
    padding: 20px

.screen-and-stats 
  display: contents
  position: relative
  // z-index: 5

.screen
  // position: sticky
  // top: 20px
  // z-index: -1
  grid-column: 1 / -1
  @media(min-width: 960px)
    grid-column: 1 / span 10
    grid-row: 1
  @if($dev)
    // background: green
    video 
      width: 100% 
      height: auto
      object-fit: cover

.game-stats
  
  // z-index: -1
  background: $black 
  @if($dev)
    min-height: 50px
  grid-row: 2
  grid-column: 1 / -1
  @media(min-width: 960px)
    grid-column: 1 / 3
    position: relative
    z-index: 5
  

.player-stats
  display: none
  background: $black
  color: white
  // @if($dev) 
    // background: orange
  @media(min-width: 960px)
    // position: sticky
    // top: 20px
    z-index: -1
    display: block
    grid-row: 1
    grid-column: -3 / -1


.teams 
  width: 100%
  display: contents
  grid-column: 1 / -2
  position: relative
  // z-index: 5

.main-camera 
  position: relative
  z-index: 5
  @media(max-width: 960px)
    grid-row: 3
    grid-column: 1 / -1
  background: #333
  grid-column: span 2
.red-team, .blue-team 
  position: relative
  z-index: 5
  @media(max-width: 960px)
    grid-row: 4
  @if($dev)
      min-height: 200px
      grid-column: span 6
      @media(min-width: 960px)
        grid-column: span 5

.button-container
  display: flex
  justify-content: space-around
.red-team 
  background-image: url('/assets/red-team.jpg'), linear-gradient(red, blue)
  background-size: cover 
  background-position:  bottom left
  @media(min-width: 960px)
    grid-column: 9 / -1

.blue-team 
  background: $blue
  background-image: url('/assets/blue-team.jpg'), linear-gradient(red, blue)
  background-size: cover 
  background-position:  bottom left
  @media(min-width: 960px)
    grid-column: 3 / span 4

